In [1]:
N = (5 + 4) % 5 + 1
print(N)

5

In [2]:
import numpy as np
import pandas as pd

In [3]:
 data = pd.Series([0.25, 0.5, 0.75, 1.0])
 data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [4]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
data[1]

0.5

In [6]:
data[1:3]

1    0.50
2    0.75
dtype: float64

In [10]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
 index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [11]:
data.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [12]:
 data['b']

0.5

In [14]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
 index=[2, 5, 3, 7])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [15]:
population_dict = {'Kharkiv': 1419036,
 'Kherson': 289697,
 'Mariupol': 446103,
 'Lviv': 721301,
 'Kyiv': 2884359}
population = pd.Series(population_dict)
population

Kharkiv     1419036
Kherson      289697
Mariupol     446103
Lviv         721301
Kyiv        2884359
dtype: int64

In [16]:
population['Kharkiv']

1419036

In [17]:
population['Kherson':'Lviv']

Kherson     289697
Mariupol    446103
Lviv        721301
dtype: int64

In [18]:
pd.Series(5, index=[100, 200, 300])

100    5
200    5
300    5
dtype: int64

In [19]:
pd.Series({2:'a', 1:'b', 3:'a'})

2    a
1    b
3    a
dtype: object

In [20]:
pd.Series({2:'a',1:'b',3:'c'}, index=[3,2])

3    c
2    a
dtype: object

In [21]:
 area_dict = {'Kharkiv': 350,
 'Kherson': 145,
'Mariupol': 135,
 'Lviv': 149,
 'Kyiv': 856}
 area = pd.Series(area_dict)
 area

Kharkiv     350
Kherson     145
Mariupol    135
Lviv        149
Kyiv        856
dtype: int64

In [22]:
cities=pd.DataFrame({'population':population,
 'area': area})
cities

          population  area
Kharkiv      1419036   350
Kherson       289697   145
Mariupol      446103   135
Lviv          721301   149
Kyiv         2884359   856

In [23]:
cities.index

Index(['Kharkiv', 'Kherson', 'Mariupol', 'Lviv', 'Kyiv'], dtype='object')

In [24]:
cities.columns

Index(['population', 'area'], dtype='object')

In [25]:
cities['area']

Kharkiv     350
Kherson     145
Mariupol    135
Lviv        149
Kyiv        856
Name: area, dtype: int64

In [26]:
pd.DataFrame(population,columns=['population'])

          population
Kharkiv      1419036
Kherson       289697
Mariupol      446103
Lviv          721301
Kyiv         2884359

In [27]:
data = [{'a': i, 'b': 2 * i}
 for i in range(5)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4
3  3  6
4  4  8

In [28]:
pd.DataFrame([{'a': 1, 'b': 2},
 {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [29]:
pd.DataFrame({'population': population,
 'area': area})

          population  area
Kharkiv      1419036   350
Kherson       289697   145
Mariupol      446103   135
Lviv          721301   149
Kyiv         2884359   856